title: switchboard\\operator
email: amenti@uni.minerva.edu
description: >- # this means to ignore newlines until "baseurl:"
  Corner of the internet where I will ractice the process harnessing my thoughts into something coherent before they float away.

baseurl: "" # the subpath of your site, e.g. /blog
url: "amentikenea.github.io" # the base hostname & protocol for your site, e.g. http://example.com

header_pages:
  - index.md
  - about.md

# Build settings
# theme: jekyll-theme-console
remote_theme: b2a3e8/jekyll-theme-console
plugins:
  - jekyll-feed

style: dark

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
